<html>
<head>
    <title>Stats</title>
    <script type="text/javascript" src="/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/moment.min.js"></script>
    <script type="text/javascript" src="/jquery.daterangepicker.js"></script>
    <link rel="stylesheet" href="/daterangepicker.css" />
</head>

<body>
<div class="content" style="">
   <span id="picker">Choose Range</span>
    <br>
    <span id="holder"></span>
</div>
<script type="text/javascript">

    $('#picker').dateRangePicker(

    ).bind('datepicker-change',function(event,obj)
    {
        console.log(obj);
        var url = "/api/sensors/EMON/AverageByTimeframe?start=" + obj.date1.toISOString() + "&end=" + obj.date2.toISOString();


        $.getJSON( url, function( data ) {
            console.log(data);
            var duration = moment.duration(moment(data.end).diff(moment(data.start))).asHours();


            $("#holder").html("Verbrauch: " + (((data.avg*230)*duration)/1000).toFixed(1) + " kWh");
        });
    });


</script>
</body>
</html>