<html>
<head>
    <title>Stats</title>
    <script type="text/javascript" src="/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/highcharts.js"></script>
</head>
<body>
<div class="content">
    {{#each sensors}}
        <div class="body">{{{body}}}</div>
    {{/each}}
</div>
</body>
</html>