<html>
<head>
    <title>Stats</title>
    <script type="text/javascript" src="/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/highcharts.js"></script>
    <script type="text/javascript" src="/gauge.min.js"></script>
    <script type="text/javascript" src="/featherlight.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/featherlight.min.css">

</head>
<body>
<div class="content" style="">
    <div class="gauges">
        {{#each gauges}}
            <a href="#" data-featherlight="/graph/{{sensor}}">
                <div class="gauge_body" style="float:left;#position:relative;"><!--<span class="gauge_title">{{fN}}</span>-->{{{body}}}</div>
            </a>
        {{/each}}
    </div>
</div>
</body>
</html>